
.H {
    background-color: orange;
}
.HE {
    background-color: lightblue;
}

.LE {
    background-color: lightpink;
}

.BE {
    background-color: MediumSlateBlue;
}

.B5 {
    background-color: peru;
}

.C {
    background-color: lightpink;
}

.N {
    background-color: lightpink;
}

.O {
    background-color: lightpink;
}

.F {
    background-color: Goldenrod;
}

.Ne {
    background-color: lightblue;
}







